{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block body %}
    <h1>Medicament <a href="{{ path('medicament_new') }}"class="btn btn-success btn-lg" role="button" aria-disabled="true">Créer un nouveau</a></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Famille</th>
                <th>Composition</th>
                <th>Effets</th>
                <th>Contre-indication</th>
                <th style="width: 70px;">Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr id="tr">
                <td>{{ medicament['id'] }}</td>
                <td>{{ medicament['MED_NOMCOMMERCIAL'] }}</td>
                <td>{{ medicament['fam_libelle'] }}</td>
                <td>{{ medicament['MED_COMPOSITION'] }}</td>
                <td>{{ medicament['MED_EFFETS'] }}</td>
                <td>{{ medicament['MED_CONTREINDIC'] }}</td>
                <td>{{ medicament['MED_PRIXECHANTILLON'] }} €</td>
                <td>
                    <a href="{{ path('medicament_show', {'id': medicament.id}) }}"><i class="icon_index fas fa-eye"></i></a>
                    <a href="{{ path('medicament_edit', {'id': medicament.id}) }}"><i class="icon_index fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
