{% extends 'base.html.twig' %}

{% block title %}Medicament{% endblock %}

{% block activeM %}active{% endblock %}

{% block body %}
    <div class="header-table">
        <h1>Medicament</h1>
    </div>

    <div class="navigation_medic">
        {% if {'id': medicament.id - 1} %}
        <a class="link_nav_medic" href="{{ path('medicament_show', {'id': medicament.id - 1}) }}"><i class="fas fa-arrow-left"></i> Précédent médicament</a>
        {% else %}{% endif %}

        {% if {'id': medicament.id + 1} %}
        <a class="link_nav_medic" href="{{ path('medicament_show', {'id': medicament.id + 1}) }}">Prochain médicament <i class="fas fa-arrow-right"></i></a>
        {% else %}{% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Nom commercial</th>
                <td>{{ medicament.MEDNOMCOMMERCIAL }}</td>
            </tr>
            <tr>
                <th>Nom famille</th>
                <td>{{ nomFamille[0].fam_libelle }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>{{ medicament.MEDCOMPOSITION }}</td>
            </tr>
            <tr>
                <th>Effets</th>
                <td>{{ medicament.MEDEFFETS }}</td>
            </tr>
            <tr>
                <th>Contre indication</th>
                <td>{{ medicament.MEDCONTREINDIC }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ medicament.MEDPRIXECHANTILLON }} €</td>
            </tr>
        </tbody>
    </table>

    <div class="sup_table">
        <a class="btn btn-secondary" href="{{ path('medicament_edit', {'id': medicament.id}) }}">Modifier</a>
        {{ include('medicament/_delete_form.html.twig') }}
    </div>

    <hr style="margin: 20px 0 20px 0" >

    {% if interactions %}
    <h3>Interractions</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Nom des médicaments</th>
        </tr>
        </thead>
        <tbody>
    {% for interaction in interactions %}
            <tr>
                <td>{{ interaction.MED_NOMCOMMERCIAL }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>Aucune interractions</h3>
        <p><i>Ce médicament ne comporte aucune interaction avec d'autre médicament de notre base de données.</i></p>
    {% endif %}


{% endblock %}
