{% extends 'base.html.twig' %}

{% block title %}Medicament{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('medicament_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>

    <br><br>

    <h1>Medicament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>MED_NOMCOMMERCIAL</th>
                <td>{{ medicament.MEDNOMCOMMERCIAL }}</td>
            </tr>
            <tr>
                <th>FAM_CODE</th>
                <td>{{ medicament.FAMCODE }}</td>
            </tr>
            <tr>
                <th>MED_COMPOSITION</th>
                <td>{{ medicament.MEDCOMPOSITION }}</td>
            </tr>
            <tr>
                <th>MED_EFFETS</th>
                <td>{{ medicament.MEDEFFETS }}</td>
            </tr>
            <tr>
                <th>MED_CONTREINDIC</th>
                <td>{{ medicament.MEDCONTREINDIC }}</td>
            </tr>
            <tr>
                <th>MED_PRIXECHANTILLON</th>
                <td>{{ medicament.MEDPRIXECHANTILLON }}</td>
            </tr>
        </tbody>
    </table>

    <div class="list-btn">
        <a class="btn btn-secondary" href="{{ path('medicament_edit', {'id': medicament.id}) }}">Modifier</a>
        {{ include('medicament/_delete_form.html.twig') }}
    </div>
{% endblock %}
