{% extends 'base.html.twig' %}

{% block title %}Medicament{% endblock %}

{% block activeM %}active{% endblock %}

{% block body %}
    <div class="header-table">
        <h1>Medicament</h1>
    </div>

    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Nom commercial</th>
                <td>{{ medicament.MEDNOMCOMMERCIAL }}</td>
            </tr>
            <tr>
                <th>Nom famille</th>
                <td>{{ medicament.FAMCODE }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>{{ medicament.MEDCOMPOSITION }}</td>
            </tr>
            <tr>
                <th>Effets</th>
                <td>{{ medicament.MEDEFFETS }}</td>
            </tr>
            <tr>
                <th>Contre indication</th>
                <td>{{ medicament.MEDCONTREINDIC }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ medicament.MEDPRIXECHANTILLON }} €</td>
            </tr>
        </tbody>
    </table>

    <div class="sup_table">
        <a class="btn btn-secondary" href="{{ path('medicament_edit', {'id': medicament.id}) }}">Modifier</a>
        {{ include('medicament/_delete_form.html.twig') }}
    </div>

    <hr style="margin: 20px 0 20px 0" >
    <h3>Interractions</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Nom des médicaments</th>
        </tr>
        </thead>
        <tbody>
        {% for interaction in interaction %}
            <tr>
                <td>{{ interaction.MED_NOMCOMMERCIAL }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
