{#{% extends 'base.html.twig' %}#}

{#{% block title %}Famille index{% endblock %}#}

{#{% block body %}#}
{#    <h1>Famille index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Fam_libelle</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for famille in familles %}#}
{#            <tr class="tr">#}
{#                <td>{{ famille.id }}</td>#}
{#                <td>{{ famille.famLibelle }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('famille_show', {'id': famille.id}) }}">show</a>#}
{#                    <a href="{{ path('famille_edit', {'id': famille.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="4">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('famille_new') }}">Create new</a>#}
{#{% endblock %}#}
